body {
    background:hsla(218, 11%, 81%, 0.801);
    color: hsl(209, 14%, 29%);
    font-family: 'Poppins', sans-serif;
    padding-top: 5em;
}


img{

    margin: 0px 10px 10px 0px;
    padding-left: 10em;  
    display: flex; 
    
}

button.fat {
    
    background: hsl(239, 100%, 68%);
    width: 240px;
    height: 45px;
    border-radius: 6px;
    box-shadow: 0px 5px 10px hsla(216, 100%, 68%, 0.196);
    text-align: center;
	cursor: pointer;
    outline: none;
    margin-left: 550px;
    

}
button a{

    color: rgb(255, 255, 255);
    text-decoration-line: none;
}




